services:
  backend-express:
    build: .
    ports:
      - "3000:3000"
    environment:
      DB_HOST: backend-mysql
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: test
    depends_on:
      backend-mysql:
        condition: service_healthy

  backend-mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test
    volumes:
      - db-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
